[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==3.0.0"
flask-cors = "==4.0.0"
notebridge = "==0.5.4"
openai = "==0.27.8"
python-dotenv = "==1.0.0"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.13"
